#submit-btn {
    width: 100%;
    border-radius: 4px;
}

#favorite-mbti-entries {
    display: inline-flex;
}

#favorite-mbti-entries .mbti-text {
    background: cornflowerblue;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 20px;
    padding: 1px 5px;
    border-radius: 5px;
}
.party-box {
    width: 100%;
}
.info .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}
.info .info__left, .party-box .info__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#favorite-mbti-entries {
    margin-left: 10px;
}
.info .info__right {
    align-items: center;
}
.info .party-size {
    font-size: 52px;
    font-style: italic;
}
#member-entries {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
}
#member-entries .member-entry {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    border: none;
    margin-bottom: 50px;
}
.member-entry .member-entry__image {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.blind_layer {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0.75);
    color: #fff;
}
.blind_layer .title {
    font-size: 56px;
}
.blind_layer a {
    color: #fff;
    font-size: 24px;
}
.member-entry__mbti {
    margin-top: 20px;
}
.chat-btn {
    width: 100%;
}
.chat-modal-wrapper {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 818px;
    background: rgba(0,0,0,.5);
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}
.chat-modal {
    position: absolute;
    top: 30px;
    background: #fff;
    padding: 24px 16px;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    border: 1px solid #808080;

    display: flex;
    flex-direction: column;
}
.chat-modal .modal-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.chat-modal .user-profile {
    display: inline-block;
    width: 50px;
}
.chat-modal .chat-box {
    position: relative;
    height: 260px;
}
.chat-modal .user-profile {
    width: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: baseline;

}
.chat-modal .connect-circle {
    width: 10px;
    height: 10px;
    background-color: forestgreen;
    border-radius: 10px;
    margin-right: 5px;
}
.chat-modal .message_holder {
    position: relative;
    width: 100%;
    height: 280px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}
.chat-modal .message_holder p {
    margin-bottom: 0;
}
.chat-modal .message-box {
    position: relative;
    width: 100%;
}
.chat-modal .message-box .message {
    width: 83%;
    border: none;
    border-bottom: 1px solid #000;
}
.chat-modal .close-btn {
    position: relative;
    width: 100%;
    margin-top: 10px
}
