.join-box {
    display: flex;
}
.join-form {
    width: 50%;
    font-size: 14px;
}
.join-form input {
    width: 80%;
    height: 25px;
    margin-bottom: 30px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #000;
}
.join-form .id-form{
    display: flex;
    align-items: flex-start;
}
.join-form .id-input {
    width: 35%;

}
.join-form .id-select{
    width: 25%;
    height: 25px;
    border: none;
    border-bottom: 1px solid #000;
}

.join-form .id-btn {
    font-size: 12px;
    width: 20%;
    height: 25px;
    text-align: center;
}

.join-form button {
    width: 80%;
    margin-bottom: 20px;
}
.join-image {
    width: 50%;
    box-sizing: border-box;
    background-image: url("../assets/images/icons/join.png");
    background-repeat: no-repeat;
}
.join-menu-group {
    width: 80;
    position: relative;
}
.join-menu-group ul{
    display: flex;
    list-style: none;
}
.join-menu-group li {
    padding-right: 20px;
}
.fasgreen{
    color:green;
}

.fasred{
    color:red;
}
#regisNum-help
{
    color : red;
}
#password-help
{
    color : red;
}
#MBTI-help
{
    color : red;
}
.fasIdGreen{
    color : green;
}
.fasIdRed{
    color : red;
}
.fasPwRed{
    color:red;
}
.fasPwGreen{
    color:green;
}