.join-box {
    display: flex;
}
.join-form {
    width: 50%;
    font-size: 14px;
}

/*사용자 입력칸*/
.join-form input {
    width: 80%;
    height: 25px;
    margin-bottom: 30px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #000;
}



/*사용자 아이디 폼*/
.join-form .id-form{
    display: flex;
    align-items: flex-start;
}
/*사용자 아이디 입력칸*/
.join-form .id-input {
    width: 35%;
}
/*사용자 아이디 이메일 선택칸*/
.join-form .id-select{
    width: 25%;
    height: 25px;
    border: none;
    border-bottom: 1px solid #000;
}
/*사용자 아이디 사용가능여부 버튼*/
.join-form .id-btn {
    font-size: 12px;
    width: 20%;
    height: 25px;
    text-align: center;
}

.fasIdRed{
    color : red;
}
.fasIdGreen{
    color : green;
}
#regisNum-help{
    color : red;
}




/*회원가입 버튼*/
.join-form button {
    width: 80%;
    margin-bottom: 20px;
}
/*화면 출력 이미지*/
.join-image {
    width: 50%;
    box-sizing: border-box;
    background-image: url("../assets/images/icons/join.png");
    background-repeat: no-repeat;
}



.join-menu-group {
    width: 80%;
    position: relative;
}
.join-menu-group ul{
    display: flex;
    list-style: none;
}
.join-menu-group li {
    padding-right: 20px;
}



/*비밀번호 입력 형식 합격*/
.fasPwRed{
    color:red;
}
/*비밀번호 입력 형식 불합격*/
.fasPwGreen{
    color:green;
}
/*비밀번호 안내 문구*/
#password-help
{
    color : red;
}
/*비밀번호 확인 입력 합격*/
.fasgreen{
    color:green;
}
/*비밀번호 확인 입력 불합격*/
.fasred{
    color:red;
}


/*MBTI 선택 항목들*/
.join-form ul{
    display: flex;
    list-style: none;
}
/*MBTI 선택 항목들*/
.join-form li{
    padding-right: 20px;
}