/* list */
.section--list {
    display: flex;
}
.section--list .btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}
.section--list .register-btn {
    width: 980px;
    height: 50px;
    border-radius: 5px;
}
.section--list .sort-menu-group ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.section--list .sort-menu-group li {
    padding-right: 20px;
}
.section--list .sort-menu-group li:last-child {
    padding-right: 0px;
}
.section--list .party-card {
    border: none;
    border-radius: 0px;
    border-top: 1px solid #000;
}
.section--list .party-card:last-child {
    border-bottom: 1px solid #000;
}
.section--list .join-btn {
    width: 200px;
}