.jua {
    font-family: 'Jua', sans-serif;
}

.hansan {
    font-family: 'Black Han Sans', sans-serif;
}

.wrap {
    width: 600px;
    margin: 50px auto auto auto;
}

.title {
    background-color: green;
    font-size: 25px;

    width: 600px;
    height: 270px;

    color: white;
    text-align: center;

    background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20150926_49%2Fthepooh23_1443249773302HgNjP_JPEG%2FlargeYYYJ2OGV.jpg&type=sc960_832");
    background-size: cover;
    background-position: center;

    border-radius: 10px;

    padding-top: 80px;
}

.middle {
    width: 600px;
    font-size: 25px;
    padding-top: 15px;
    padding-left: 150px;
}

.btn {
    width: 80px;
    height: 30px;
    font-size: 15px;
    margin: 40px auto auto 110px;
    display: block;
    padding-bottom: 25px;
}

.find_text {
    display: inline-block;
    text-decoration: none;
}

.bottom {
    margin: auto auto auto 110px;
}

ul li {
    list-style-type: none;
    float: left;
    outline: 2px none;
    margin: auto auto auto 10px;
}