.login-box {
    display: flex;
}
.login-form {
    width: 50%;
}
.login-form input {
    width: 80%;
    margin-bottom: 30px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #000;
}
.login-form button {
    width: 80%;
    margin-bottom: 20px;
}
.login-image {
    width: 50%;
    box-sizing: border-box;
    background-image: url("../static/assets/images/icons/login.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.login-menu-group {
    width: 80%;
    position: relative;
    margin: auto;
}
.login-menu-group ul{
    display: flex;
    list-style: none;
}
.login-menu-group li {
    padding-right: 20px;
}
