<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0aeb562407.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/common.js"></script>
    <script src="../static/js/index.js"></script>
    <title>Chat_App</title>

    <script>
        let socket = io.connect("http://" + document.domain + ":" + location.port, {transports: ['websocket']});
        //let socket = io.connect("http://localhost:5000", {transports: ['websocket']});
        let user_id = `{{user_id}}`;
        let room = `{{room}}`;
        joinRoom(room);

        socket.on('connect', () => {
            let form = $('form').on('submit', e => {
                e.preventDefault();
                let user_input = $('input.message').val();
                if(user_input !== '') {
                    socket.send({'msg': user_input, 'user_id': user_id, 'room': room});
                }
                $('input.message').val('').focus();
            });
        });

        socket.on('message', data => {
            console.log(data);
            if(data.user_id) {
                $('h3').remove();
                $('div.message_holder').append(`<div><b style="color: #000">${data.user_id}</b><br>${data.msg} (${data.time_stamp})<br></div>`);
            }
            else {
                printSysMsg(data.msg);
            }
        });

        $(document).ready(function (){
            $('input.message').focus();
            // document.querySelectorAll('.select-room').forEach(p => {
            //     p.onclick = () => {
            //         console.log('asdasd');
            //         let newRoom = p.innerHTML;
            //         if(newRoom === room) {
            //             let msg = `이미 ${room}방에 있습니다.`;
            //             printSysMsg(msg);
            //         }
            //         else {
            //             leaveRoom(room);
            //             joinRoom(newRoom);
            //             room = newRoom;
            //         }
            //     };
            // });
        });

        function leaveRoom(room) {
            console.log('leaveRoom');
            socket.emit('leave', {'user_id' : user_id, 'room' : room});
            window.history.back();
        }

        function joinRoom(room) {
            console.log('joinRoom');
            socket.emit('join', {'user_id' : user_id, 'room' : room});
            //채팅창 클리어
            $('div.message_holder').val('');
        }

        function printSysMsg(msg) {
            $('div.message_holder').append(msg + "<br>");
        }
    </script>

</head>
<body>
<nav id="sidebar">
    <h4>{{room}}</h4>
</nav>

<h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
<div class="message_holder"></div>

<form action="">
    <p class="user_id">아이디: {{user_id}}</p>
    <input type="text" class="message" placeholder="Messages"/>
    <input type="submit" value="send"/>
</form>
<button onclick="leaveRoom(`{{room}}`)">나기기</button>

</body>
</html>