<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0aeb562407.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/detail.css">
    <script defer src="../static/js/common.js"></script>
    <script defer src="../static/js/detail.js"></script>
    <title>MBTI PARTY | 나의 MBTI에 맞는 파티 찾기</title>
    {%with messages = get_flashed_messages()%}
    {%if messages %}
    <script type="text/javascript">
        alert("{{messages[0]}}");
    </script>
    {%endif%}
    {%endwith%}
</head>
<body>
<div class="body__container">

    <nav class="section section--nav navbar navbar-expand-lg navbar-light bg-light">
        <div class="inner">
            <a class="navbar-brand float--left" href="/">MBTI</a>
            <div class="navbar-menu-group float--right">
                <div class="login-status">
                    <div class="login-status-circle"></div>
                    <span><span id="mbti_profile"></span> {{user_name}}님({{user_mbti}}) 반가워요!</span>
                    <input type="hidden" id="user_name" value={{user_name}}>
                    <input type="hidden" id="user_mbti" value={{user_mbti}}>
                </div>
                <div class="nav-item" style="cursor:pointer" onclick="switchLogout()">로그아웃</div>
            </div>
        </div>
    </nav>


    <section class="section section--detail">
        <div class="inner">
            <div class="party-box" id="party-box">
                <div class="info">
                    <div class="info__left float--left">
                        <p class="title">{{title}}</p>
                        <div class="party-gen-info">
                            <span><i class="fas fa-crown"></i></span>
                            {{master_name}}
                            <div id="favorite-mbti-entries" class="favorite-mbti"></div>
                        </div>
                        <p class="description">{{desc}}</p>
                    </div>
                    <div class="info__right float--right">
                        <div id="party-size" class="party-size"></div>
                    </div>
                </div>
                <div id="member-entries" class="member-entries float--right"></div>

                <input type="hidden" id="party-id" value={{id}}>
                <input type="hidden" id="user-id" value={{user_id}}>
                <input type="hidden" id="favorite-mbti" value={{favorite_mbti}}>
                <input type="hidden" id="max-member-num" value={{max_member_num}}>
                <input type="hidden" id="member-ids" value={{member_ids}}>
                <input type="hidden" id="member-info" value={{member_info}}>
                <input type="hidden" id="chat-room-id" value={{room_id}}>
            </div>
        </div>

        <div class="chat-modal-wrapper">
            <div class="chat-modal">
                <h1 class="modal-title">채팅</h1>
                <nav id="sidebar">
                    <h4>{{room}}</h4>
                </nav>

                <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
                <div id="message_holder"></div>

                <form action="" method="POST">
                    <p class="user_id">아이디: {{user_id}}</p>
                    <input type="text" class="message" placeholder="Messages"/>
                    <input type="submit" value="send"/>
                </form>
                <button onclick="leaveRoom(`{{room}}`)">나기기</button>

                <!--                <div class="user-profile">-->
                <!--                    <div>유저1</div>-->
                <!--                    <div>유저2</div>-->
                <!--                </div>-->
                <!--                <div class="chat-box"></div>-->
                <!--                <input type="text" class="text-form"/>-->
                <button onclick="closeChatRoom()" class="close-btn btn btn-primary float--right">닫기</button>
            </div>
        </div>
    </section>
</div>
<a href="/chat?room_id={{room_id}}">채팅방 참여</a>
</body>
</html>