<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0aeb562407.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/detail.css">
    <script defer src="../static/js/common.js"></script>
    <script defer src="../static/js/detail.js"></script>
    <title>MBTI PARTY | 나의 MBTI에 맞는 파티 찾기</title>
</head>
<body>
<div class="body__container">

    <nav class="section section--nav navbar navbar-expand-lg navbar-light bg-light">
        <div class="inner">
            <a class="navbar-brand float--left" href="/">MBTI</a>
            <div class="navbar-menu-group collapse navbar-collapse float--right">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a style="cursor:pointer" onclick="switchLogout()">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section class="section section--detail">
        <div class="inner">
            <div class="party-box" id="party-box">
                <div class="info">
                    <div class="info__left float--left">
                        <p class="title">{{title}}</p>
                        <p>
                            <span><i class="fas fa-crown"></i></span>
                            {{master_name}}
                        </p>
                        <p>{{desc}}</p>
                    </div>
                    <div class="info__right float--right">
                        <div id="party-size" class="party-size"></div>
                        <div id="favorite-mbti-entries float--right"></div>
                    </div>
                </div>
                <div id="member-entries" class="member-entries float--right"></div>

                <input type="hidden" id="party-id" value={{id}}>
                <input type="hidden" id="user-id" value={{user_id}}>
                <input type="hidden" id="favorite_mbti" value={{favorite_mbti}}>
                <input type="hidden" id="max-member-num" value={{max_member_num}}>
                <input type="hidden" id="member-ids" value={{member_ids}}>
                <input type="hidden" id="member-info" value={{member_info}}>
            </div>
        </div>
    </section>
</div>
</body>
</html>