<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0aeb562407.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" href="../static/detail.css">
    <script defer src="../static/detail.js"></script>
    <title>MBTI PARTY | 나의 MBTI에 맞는 파티 찾기</title>
</head>
<body>
<div class="body__container">

    <nav class="section section--nav navbar navbar-expand-lg navbar-light bg-light">
        <div class="inner">
            <a class="navbar-brand float--left" href="/">MBTI</a>
            <div class="navbar-menu-group collapse navbar-collapse float--right">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register">회원가입</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section class="section section--detail">
        <div class="inner">
            <div class="party-box">
                <div class="info">
                    <div class="info__left float--left">
                        <p class="title">{{name}}</p>
                        <p>
                            <span><i class="fas fa-crown"></i></span>
                            {{master_id}}
                        </p>
                        <p>{{desc}}</p>
                    </div>
                    <div class="info__right float--right">
                        <div id="party-size" class="party-size"></div>
                        <div id="favorite-mbti-entries float--right"></div>
                    </div>
                </div>
                <div id="member-entries" class="member-entries float--right"></div>

                <input type="hidden" id="party-id" value={{id}}>
                <input type="hidden" id="favorite_mbti" value={{favorite_mbti}}>
                <input type="hidden" id="max-member-num" value={{max_member_num}}>
                <input type="hidden" id="member-ids" value={{member_ids}}>
                <input type="hidden" id="member-roles" value={{member_roles}}>
            </div>
        </div>
    </section>
</div>
</body>
</html>