<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0aeb562407.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/index.js"></script>
    <title>MBTI PARTY | 나의 MBTI에 맞는 파티 찾기</title>
</head>
<body>
    <div class="body__container">
        <nav class="section section--nav navbar navbar-expand-lg navbar-light bg-light">
            <div class="inner">
                <a class="navbar-brand float--left" href="/">MBTI</a>
                <div class="navbar-menu-group collapse navbar-collapse float--right">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="/login">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a href="/register">회원가입</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="section section--list">
            <div class="inner">
                <div class="btn-group">
                    <button onclick="location.href='/build_party'" class="register-btn btn-primary">파티 만들기</button>
                </div>

                <div class="sort-menu-group float--right">
                    <ul>
                        <li class="sort-menu__regdt">
                            <a href="#">생성 순</a>
                        </li>
                        <li class="sort-menu__available">
                            <a href="#">입장 가능 파티만</a>
                        </li>
                    </ul>
                </div>
                <div class="list" id="party-list"></div>
            </div>
        </section>
    </div>
</body>
</html>