<!DOCTYPE html>
<html lang="en">
<head>
    <!--    한국어가 깨지지 않게 하기 위함-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&amp;display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!--    JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        // 엔터 키를 누를 시 동작!
        function enterkey() {
            if (window.event.keyCode == 13) {
                id_check();
            }
        }
        function id_check() {
            $.ajax({
                type: "POST",
                url: "/information_check",
                data: {
                    name_give: $('#name').val(),
                    regisNum_give: $('#regisNum').val()
                },
                success: function (response) {
                    // 유저정보가 있을 시 아이디(이메일) 정보를 알러트 해준다!
                    if (response['result'] == 'success') {
                        let emails = response['email']

                        for (let i = 0; i < emails.length; i++) {
                            let name = emails[i]['name']
                            let id_email = emails[i]['id']
                            alert(name + '님의 아이디는 ' + id_email + ' 입니다.')
                        }
                        window.location.href = '/login'
                    } else {
                        alert(response['msg'])
                        window.location.href = '/login'
                    }
                }
            })
        }
    </script>

    <!--    Css, js 파일을 사용하기 위함-->
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/register.css">
    <script src="../static/js/information_check.js"></script>
    <title>MBTI PARTY | 나의 MBTI에 맞는 파티 찾기</title>
</head>
<body>

<div class="body__container">
    <nav class="section section--nav navbar navbar-expand-lg navbar-light bg-light">
        <div class="inner">
            <a class="navbar-brand float--left" href="/">MBTI</a>
        </div>
    </nav>

    <section class="section section--join-form">
        <div class="inner">
            <div class="join-box">
                <div class="join-form">
                    <div class="title">
                        <h1>MBTI PARTY</h1>
                        <h4 class="sub-title">MBTI 궁합이 맞는 친구들을 찾아보세요</h4>
                    </div>

                    <p>이름</p>
                    <input onkeyup=enterkey() type="text" id="name" placeholder="예)홍길동">

                    <p>주민등록번호</p>
                    <input onkeyup=enterkey() type="text" id="regisNum" placeholder="예)111111- 1111111">

                    <button onclick="id_check()" class="btn btn-primary">아이디 찾기</button>
                </div>
                <div class="join-image"></div>
            </div>
        </div>
    </section>
</div>

<div class="content">


</div>
</body>
</html>