<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MBTI PARTY | 나의 MBTI에 맞는 파티 찾기</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" href="../static/login.css">
    <script src="../static/common.js"></script>
    <script src="../static/login.js"></script>

    <script>
        function enterkey() {
            if (window.event.keyCode == 13) {
                login();
            }
        }

        function login() {
            let id = $('#id').val();
            let password = $('#password').val();
            $.ajax({
                type: "POST",
                url: "/api/login",
                data: {id_give: id, pw_give: password},
                success: function (response) {
                    if (response['result'] == 'success') {
                        $.cookie('mytoken', response['token'])
                        alert('로그인 완료!');
                        window.location.href = '/';
                    } else if (!id) {
                        alert('아이디를 입력해주세요');
                        window.location.reload();
                    } else if (!(id.includes('@'))) {
                        alert('이메일형식으로 입력해주세요');
                        window.location.reload();
                    } else if (!password) {
                        alert('비밀번호를 입력해주세요');
                        window.location.reload();
                    } else {
                        alert(response['msg']);
                        window.location.reload();
                    }
                }
            })
        }
    </script>
</head>
<body>
    <div class="body__container">
        <nav class="section section--nav navbar navbar-expand-lg navbar-light bg-light">
            <div class="inner">
                <a class="navbar-brand float--left" href="/">MBTI</a>
                <div class="navbar-menu-group collapse navbar-collapse float--right">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="/login">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a href="/register">회원가입</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <section class="section section--login-form">
            <div class="inner">
                <div class="login-box">
                    <div class="login-form">
                        <div class="title">
                            <h1>MBTI PARTY</h1>
                            <h4 class="sub-title">MBTI 궁합이 맞는 친구들을 찾아보세요</h4>
                        </div>

                    <p>
                        아이디
                        <input onkeyup="enterkey()" type="text" class="form-control" id="id">
                    </p>
                    <p>
                        비밀번호
                        <input onkeyup="enterkey()" type="password" class="form-control" id="password">
                    </p>
                    <button type="button" onclick="login()" class="btn btn-primary">로그인</button>
                    <div class="login-menu-group">
                        <ul>
                            <li>
                                <a href="#">비밀번호 찾기</a>
                            </li>
                            <li>
                                <a href="#">아이디 찾기</a>
                            </li>
                            <li>
                                <a href="/register">회원가입</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="login-image"></div>
            </div>


        </div>
    </section>
</div>
</body>
</html>