<!DOCTYPE html>
<html lang="en">
<head>
    <!--    한국어가 깨지지 않게 하기 위함-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&amp;display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!--    JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!--    Css, js 파일을 사용하기 위함-->
    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" href="../static/register.css">
    <script src="../static/register.js"></script>
    <title>MBTI PARTY | 나의 MBTI에 맞는 파티 찾기</title>
</head>
<body>

<div class="body__container">
    <nav class="section section--nav navbar navbar-expand-lg navbar-light bg-light">
        <div class="inner">
            <a class="navbar-brand float--left" href="/">MBTI</a>
            <div class="navbar-menu-group collapse navbar-collapse float--right">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register">회원가입</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="section section--join-form">
        <div class="inner">
            <div class="join-box">
                <div class="join-form">
                    <div class="title">
                        <h1>MBTI PARTY</h1>
                        <h4 class="sub-title">MBTI 궁합이 맞는 친구들을 찾아보세요</h4>
                    </div>

                    <p>이름</p>
                    <input type="text" id="name" placeholder="예)홍길동">

                    <p>주민등록번호</p>
                    <input type="text" id="regisNum" placeholder="예)111111- 1111111">


                    <p>아이디(이메일)</p>
                    <div class="id-form">

                        <input type="text" id="ID" class="id-input" placeholder="예)abcd@naver.com">
                        <select name="" id="ID-Address" class="id-select" aria-label="이메일주소">
                            <option value="@naver.com">
                                @naver.com
                            </option>
                            <option value="@hotmail.com">
                                @hotmail.com
                            </option>
                            <option value="@yahoo.co.kr">
                                @yahoo.co.kr
                            </option>
                            <option value="@hanmail.net">
                                @hanmail.net
                            </option>
                            <option value="@gmail.com">
                                @gmail.com
                            </option>
                        </select>
                        <button onclick="check_dup()" class="btn btn-primary id-btn"> 사용 확인</button>
                    </div>

                    <p>비밀번호</p>
                    <input type="password" id="password" placeholder="예)8자리 이상">

                    <p>비밀번호 확인</p>
                    <input onchange="is_password_thesame()" type="password" id="passwordCheck" placeholder="예)8자리 이상">

                    <p>MBTI</p>
                    <input type="text" id="MBTI" placeholder="예) ENTJ">

                    <!--        <div class="Img">-->
                    <!--            <span>이미지 : </span>-->
                    <!--            <input type="text" id="img" placeholder="예)profile.jpg">-->
                    <!--            <button>업로드</button>-->
                    <!--        </div>-->

                    <!--<div>-->
                    <!--  <input type="radio" id="louie" name="drone" value="louie">-->
                    <!--  <label for="louie">Louie</label>-->
                    <!--</div>-->

                    <button onclick="idCheckFirst()" class="btn btn-primary">회원가입</button>
                </div>
                <div class="join-image"></div>
            </div>
        </div>
    </section>
</div>

<div class="content">


</div>
</body>
</html>