<!DOCTYPE html>
<html lang="en">
<head>
    <!--    한국어가 깨지지 않게 하기 위함-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&amp;display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!--    JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!--    Css, js 파일을 사용하기 위함-->
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/register.css">
    <script src="../static/js/register.js"></script>

    <!--Alert 기능 변경을 위함-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    <title>MBTI PARTY | 나의 MBTI에 맞는 파티 찾기</title>
</head>
<body>

<div class="body__container">
    <nav class="section section--nav navbar navbar-expand-lg navbar-light bg-light">
        <div class="inner">
            <a class="navbar-brand float--left" href="/">MBTI</a>
        </div>
    </nav>

    <section class="section section--join-form">
        <div class="inner">
            <div class="join-box">
                <div class="join-form">
                    <div class="title">
                        <h1>MBTI PARTY</h1>
                        <h4 class="sub-title">MBTI 궁합이 맞는 친구들을 찾아보세요</h4>
                    </div>

                    <!--                    이름 입력-->
                    <p>이름</p>
                    <input type="text" id="name" placeholder="예)홍길동">


                    <!--                    아이디 입력-->
                    <p>아이디(이메일)</p>
                    <div class="id-form">

                        <input type="text" id="ID" class="id-input is-fail" placeholder="예)abcd@naver.com">
                        <select name="" id="ID-Address" class="id-select" aria-label="이메일주소">
                            <option value="@naver.com">
                                @naver.com
                            </option>
                            <option value="@hotmail.com">
                                @hotmail.com
                            </option>
                            <option value="@yahoo.co.kr">
                                @yahoo.co.kr
                            </option>
                            <option value="@hanmail.net">
                                @hanmail.net
                            </option>
                            <option value="@gmail.com">
                                @gmail.com
                            </option>
                        </select>
                        <!--                        아이디 사용가능 여부 확인-->
                        <button onclick="IdCheck()" class="btn btn-primary id-btn"> 사용 확인</button>
                    </div>


                    <!--                    비밀번호 입력-->
                    <p>비밀번호</p>
                    <!--                    비밀번호 형식을 맞췄는지, 비밀번호 확인과 일치하는지 확인-->
                    <input onkeyup="is_password_thesame(); is_password()" type="password" id="password"
                           placeholder="예) 8자리 이상">
                    <i id="pwNumCheck" class="fas fa-check-circle fasPwRed"></i>
                    <p><span id="password-help"></span></p>


                    <!--                    비밀번호 확인-->
                    <p>비밀번호 확인</p>
                    <!--                    비밀번호가 일치하는지 확인-->
                    <input onkeyup="is_password_thesame()" type="password" id="passwordCheck"
                           placeholder="예) 8자리 이상">
                    <i id="pwCheck" class="fas fa-check-circle fasred"></i>


                    <!--                    MBTI 선택-->
                    <p>MBTI</p>
                    <ul>
                        <li>
                            <input type="radio" name="radioTxt" value="ENTJ" checked>ENTJ
                        </li>
                        <li>
                            <input type="radio" name="radioTxt" value="ENTP">ENTP
                        </li>
                        <li>
                            <input type="radio" name="radioTxt" value="ENFP">ENFP
                        </li>
                        <li>
                            <input type="radio" name="radioTxt" value="ENFJ">ENFJ
                        </li>
                    </ul>


                    <!--회원가입 입력사항을 체크 후 미입력사항 알림 혹은 회원 등록-->
                    <button onclick="inputCheck()" class="btn btn-primary">회원가입</button>


                </div>
                <div class="join-image"></div>
            </div>
        </div>
    </section>
</div>

<div class="content">


</div>
</body>
</html>